<h2 [class.titulo]="estilizarTitulo">{{message}}</h2>

<img [src]="imagePath" width="400"> <!-- O colchete serve para fazer a conexão com o componente -->

<button id="botaoFechar" [attr.aria-label]="ariaLabel" [disabled]="isDisabled" [style]="botaoFechar">x</button>

<button (click)="enableCloseButton()" [class]="botaoClass">Habilitar o botão Fechar</button>

<button (click)="aplicarEstiloNoTitulo()" [class]="botaoClass">Aplicar estilo no título</button>

<label for="nome">Nome:</label>
<input type="text" id="txtNome" [(ngModel)]="nomeCliente">

<span>O nome digitado é:</span><span id="nomeDigitado">{{nomeCliente}}</span>